# Dependency directories
/node_modules

# Build output
/build
/dist

# Environment variables
.env

# IDE and editor files
/.idea
/.vscode
*.iml
*.ipr
*.iws
*.bak
*.swp

# Logs
/logs
*.log

# Miscellaneous
.DS_Store
Thumbs.db